.vscode/
terraform/*/.terraform*
terraform/*/env.sh
terraform/*/terraform.*
ansible/playbooks/templates/docker.env.j2
ansible/playbooks/templates/pve.yml.j2
ansible/host_vars/docker.home.lab.yml
ansible/host_vars/srv.home.lab.yml
tmp.yaml