---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Bookmarks:
    - ChatGPT:
        - abbr: CG
          href: https://chatgpt.com/
          icon: https://www.pngall.com/wp-content/uploads/15/ChatGPT-Logo-PNG-File.png
    - Feedly:
        - abbr: FL
          href: https://feedly.com/i/collection/content/user/c204e527-ca2b-4f85-a481-79dc207d128f/category/global.all
          icon: https://s3.feedly.com/img/feedly-512.png
    - Onshape:
        - abbr: OS
          href: https://cad.onshape.com/signin
          icon: https://us.v-cdn.net/5022071/uploads/V3B85DTZQS8W/box-onshape-favicon-512-401x.png
    - Finances:
        - abbr: GF
          href: https://www.google.com/finance/portfolio/48fe8022-f3e1-4ef3-a02b-d7009212d740
          icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/google-finance.png
    - Github:
        - abbr: GH
          href: https://github.com/f5AFfMhv
          icon: https://pngimg.com/uploads/github/github_PNG28.png
    - Linkedin:
        - abbr: LN
          href: https://www.linkedin.com/in/martynas-j-80709117b
          icon: linkedin
    - Instructables:
        - abbr: ITT
          href: https://www.instructables.com/member/f5AFfMhv/
          icon: https://static.semrush.com/power-pages/media/favicons/instructables-com-favicon-ea5ac17e.png
    - Prolnx:
        - abbr: PL
          href: https://mordorhomelab.cloudflareaccess.com/#/NoAuth
          icon: cloudflare
    - HealthChecks:
        - abbr: HC
          href: https://healthchecks.io/projects/cad6b201-370d-424e-bdc6-2f8e4111c600/checks/
          icon: healthchecks
    - Patreon:
        - abbr: PT
          href: https://www.patreon.com/home
          icon: https://static.vecteezy.com/system/resources/previews/027/127/500/non_2x/patreon-logo-patreon-icon-transparent-free-png.png

