---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Personal:
    - Github:
        - abbr: GH
          href: https://github.com/f5AFfMhv
          icon: github
    - Linkedin:
        - abbr: LN
          href: https://www.linkedin.com/in/martynas-j-80709117b
          icon: linkedin
    - Instructables:
        - abbr: ITT
          href: https://www.instructables.com/member/f5AFfMhv/
          icon: https://static.semrush.com/power-pages/media/favicons/instructables-com-favicon-ea5ac17e.png
    - Prolnx:
        - abbr: PL
          href: https://mordorhomelab.cloudflareaccess.com/#/NoAuth
          icon: cloudflare
- Services:
    - ChatGPT:
        - abbr: GPT
          href: https://chat.openai.com/chat
          icon: chatgpt
    - GCP:
        - abr: GCP
          href: https://console.cloud.google.com/welcome?hl=en&project=gphotos-sync-411221
          icon: google
    - Feedly:
        - abbr: FL
          href: https://feedly.com/i/my
          icon: feedly
    - HealthChecks:
        - abbr: HC
          href: https://healthchecks.io/projects/cad6b201-370d-424e-bdc6-2f8e4111c600/checks/
          icon: healthchecks
    - Patreon:
        - abbr: PT
          href: https://www.patreon.com/home
          icon: https://cdn.freelogovectors.net/wp-content/uploads/2023/10/patreon-logo-02-freelogovectors.net_.png
