base_dir={{ docker_data_base }}
mysql_root_pass=secure
nextcloud_user=user
nextcloud_pass=secure
nextcloud_domains=nextcloud.{{ external_domain }}
nextcloud_url=nextcloud.{{ external_domain }}
FLAME_PASS=secure
