# Common
data_dir={{ data_dir }}
config_dir={{ config_dir }}
time_zone=Europe/Vilnius

# NordLynx
key='YOUR_KEY' # https://github.com/bubuntux/nordlynx#how-to-get-your-private_key
local_network=192.168.0.0/24

# Moon_Server
moon_host=192.168.1.2

# Grafana
grafana_pass=mypass
influx_user=myuser
influx_pass=mypass