scrape_configs:
{% for job in prometheus_job %}
  - job_name: '{{ job.target }}'
    scrape_interval: {{ '1h' if job.target == 'speedtest-exporter' else '2m' }}
    scrape_timeout: {{ '1m' if job.target == 'speedtest-exporter' else '30s' }}
    static_configs:
      - targets: ['{{ job.target }}:{{ job.port }}']

{% endfor %}