---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/service-widgets

- logo:
    icon: https://www.onlygfx.com/wp-content/uploads/2016/08/flag-of-lithuania.png

- search:
    provider: duckduckgo

- resources:
    expanded: false
    cpu: true
    memory: true
    diskUnits: bbytes
    disk:
      - /
      - /data
    cputemp: true
    uptime: true
    network: false
    units: metric


- datetime:
    format:
      timeStyle: short
      hour12: false

- weatherapi:
    label: Vilnius
    latitude: 54.6872
    longitude: 25.2797
    units: metric
    apiKey: {{ weatherapi_key }}
    cache: 5 # Time in minutes to cache API responses, to stay within limits
    format: # optional, Intl.NumberFormat options
      maximumFractionDigits: 1
